.container {
    padding: 30px 80px;

    .filter {
        display: flex;
        justify-content: center;        

        
    }
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    p {
        margin-top: 8px;
    }
  }

mat-form-field {
    width: 50vh;
}